In [38]:
import pandas as pd
import csv
import nltk
import numpy as np

In [39]:
from nltk import ngrams

In [2]:
import string
import nltk
class tokenize:
    def __init__(self):
        pass
    def word_tokenize(self,text):
        self.text = text
        import string
        punctuations = list(string.punctuation)
        # Add the Nepali purnabiram to the list of punctuations
        punctuations.append("।")
        for punctuation in punctuations:
            self.text = self.text.replace(punctuation, ' ')
        self.text = self.text.strip().split()
        return self.text
    
    def __str__(self):
        return "return the tokenized text removing the punctuations"

In [3]:
import snowballstemmer

class stemming:
    def __init__(self):
        self.stemmer = snowballstemmer.NepaliStemmer()

    def word_stemmer(self, tokens):
        if isinstance(tokens, str):
            tokens = tokens.split()
        stemmed_tokens = [self.stemmer.stemWord(token) for token in tokens]
        return stemmed_tokens

    def __str__(self):
        return "stemming is done on Nepali words and returns the list of stemmed words."

In [70]:
class stopwords:
    def __init__(self):
        pass
    
    def stopword_removal(self,tokens):
        self.tokens = tokens
        f = open('stopwords_ne.txt','r',encoding='utf-8')
        stopwords_list = f.read()
        new_tokens = list() #new_tokens hold the list of words after removing stopwords
        for token in self.tokens:
            if token not in stopwords_list:
                new_tokens.append(token)

        return new_tokens

    def __str__(self):
        return "returns the tokens after removing stopwords"

In [227]:
text="एक व्यक्ति घोडामा बाहिर छ ।"
text2 = "घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फाल्छन् ।"

In [228]:
 def preprocess(text):
    tokenizer = tokenize()
    stemmer=stemming()
    stop_removal=stopwords()
    tokens = tokenizer.word_tokenize(text)
    stemmed_tokens = stemmer.word_stemmer(tokens)
    removed_tokens=stop_remove.stopword_removal(stemmed_tokens)
    return removed_tokens

In [229]:
preprocess(text)

['व्यक्ति', 'घोडा']

In [230]:
preprocess(text2)

['घोडा', 'सवार', 'एकजना', 'भाँच', 'हवाइजहाज', 'फाल्']

In [221]:
print(removed_tokens)

['पार्टी', 'संस्कृति', 'व्यवहार', 'अमेरि', 'संस्कृति', 'देखाउन', 'स्कूल', 'विशेष', 'कार्यक्रम', 'गरिरह']

In [184]:
def n_grams(text,n):
    tokens=list(preprocess(text))
    grams = list(ngrams(tokens, n))
    return grams

In [249]:
def overlap_similarity(text1, text2,n):
    grams1=n_grams(text1,n)
    grams2=n_grams(text2,n)
    # Convert the bigrams lists to sets
    set1 = set(grams1)
    set2 = set(grams2)
    A = set(set1)
    B = set(set2)
    numerator = len(A.intersection(B))
    min_len = min(len(A), len(B))
    if min_len==0:
        jaccard_similarity=0
    else:
        jaccard_similarity = numerator/min_len
    return jaccard_similarity

In [193]:
similarity_score1=overlap_similarity(text1,text2,1)
similarity_score2=overlap_similarity(text1,text2,2)

In [194]:
print(similarity_score1)
print(similarity_score2)

1.0
1.0

In [195]:
similarity_score=similarity_score1*0.4+similarity_score2*0.6

In [196]:
print(similarity_score)

1.0

In [199]:
text1="दुई गोरा महिला एक अर्कालाई अँगालो हाल्दै छन्।"
text2="दुई गोरा महिला एक अर्कालाई अँगालो हाल्दै छन्।"

# Longest Common Sequence

In [202]:
def generate_ngrams(seq, n):
    """Generate a list of n-grams from a sequence."""
    return [seq[i:i+n] for i in range(len(seq)-n+1)]

In [203]:
def find_longest_common_sequence(seq1, seq2, max_n):
    """Find the longest common sequence of words between two sequences using n-grams."""
    words1 = seq1.split()
    words2 = seq2.split()
    n = max_n
    while n > 0:
        ngrams1 = generate_ngrams(words1, n)
        ngrams2 = generate_ngrams(words2, n)
        m = [[0] * (len(ngrams2)+1) for _ in range(len(ngrams1)+1)]
        for i in range(1, len(ngrams1)+1):
            for j in range(1, len(ngrams2)+1):
                if ngrams1[i-1] == ngrams2[j-1]:
                    m[i][j] = m[i-1][j-1] + 1
                else:
                    m[i][j] = max(m[i-1][j], m[i][j-1])
        lcs_length = m[-1][-1]
        if lcs_length > 0:
            lcs = []
            i, j = len(ngrams1), len(ngrams2)
            while lcs_length > 0:
                if ngrams1[i-1] == ngrams2[j-1]:
                    lcs.append(ngrams1[i-1])
                    i -= 1
                    j -= 1
                    lcs_length -= 1
                elif m[i-1][j] > m[i][j-1]:
                    i -= 1
                else:
                    j -= 1
            lcs.reverse()
            lcs_words = [lcs[0]]
            for i in range(1, len(lcs)):
                overlap = n - 1
                while overlap >= 0:
                    if lcs[i-1][n-overlap:] == lcs[i][:overlap]:
                        break
                    overlap -= 1
                lcs_words.append(lcs[i][overlap:])
            return lcs_words
        n -= 1
    return []

In [233]:
text1="एक व्यक्ति घोडामा बाहिर छ।"
text2 = "घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फाल्छन्।"
words = text1.split()
n = len(words)
print(n)
lcs = find_longest_common_sequence(text1, text2,n)
print(lcs)

5
[['घोडामा']]

# exporting to csv

In [246]:
import pandas as pd
import numpy
df = pd.read_csv('translated.csv')
df.head(10)

,Column1,Column2,Column 3
0,घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फा...,"एक व्यक्ति डिनरमा छ, ओमलेट अर्डर गर्दै।",0
1,घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फा...,"एक व्यक्ति घोडामा, बाहिर छ।",1
2,बच्चाहरू मुस्कुराउँदै र क्यामेरामा हात हल्लाउँदै,बच्चाहरु उपस्थित छन्,1
3,बच्चाहरू मुस्कुराउँदै र क्यामेरामा हात हल्लाउँदै,केटाकेटीहरू निहुरिरहेका छन्,0
4,एउटा केटा रातो पुलको बीचमा स्केटबोर्डमा हाम फा...,केटा फुटपाथ तल स्केट गर्दै।,0
5,एउटा केटा रातो पुलको बीचमा स्केटबोर्डमा हाम फा...,केटाले स्केटबोर्डिङ ट्रिक गर्छ।,1
6,एक वृद्ध मानिस कफी पसलको सानो टेबलमा सुन्तलाको...,एउटा केटा बर्गर पल्टाउँछ।,0
7,दुई गोरा महिला एक अर्कालाई अँगालो हाल्दै छन्।,महिलाहरु सुतिरहेका छन् ।,0
8,दुई गोरा महिला एक अर्कालाई अँगालो हाल्दै छन्।,त्यहाँ स्नेह देखाउने महिलाहरू छन्।,1
9,"रेस्टुरेन्ट सेटिङमा केही मानिसहरू, तिनीहरूमध्य...",विद्यालयमा मानिसहरु डेस्कमा बसिरहेका छन् ।,0

In [251]:
import pandas as pd

# Load data from CSV file into a dataframe
df = pd.read_csv('translated.csv')

# Compute similarity scores for each row
gram_similarity = []
text = [] 
for i in range(len(df)):
    text1 = df['Column1'][i]
    text2 = df['Column2'][i]
    similarity_score = overlap_similarity(text1, text2, 2)
    gram_similarity.append(similarity_score) 

#Add similarity scores as a new column to the dataframe
df['gram_similarity'] = gram_similarity


# Write the updated dataframe to a new CSV file
df.to_csv('gram_similarity.csv', index=False)

In [239]:
df.head()

,Column1,Column2,Column 3,gram_similarity,lcs
0,घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फा...,"एक व्यक्ति डिनरमा छ, ओमलेट अर्डर गर्दै।",0,0.0,
1,घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फा...,"एक व्यक्ति घोडामा, बाहिर छ।",1,0.0,
2,बच्चाहरू मुस्कुराउँदै र क्यामेरामा हात हल्लाउँदै,बच्चाहरु उपस्थित छन्,1,0.0,
3,बच्चाहरू मुस्कुराउँदै र क्यामेरामा हात हल्लाउँदै,केटाकेटीहरू निहुरिरहेका छन्,0,0.0,
4,एउटा केटा रातो पुलको बीचमा स्केटबोर्डमा हाम फा...,केटा फुटपाथ तल स्केट गर्दै।,0,0.0,केटा